body{
    font-family: 'Titillium Web', sans-serif;
}
.navbar{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
    min-height: 100px;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: #000;
}
.logo-brand{
    min-width: 3rem;
    max-width: 5rem;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
}
p{
    font-size: 1.25rem;
}
.content-center{
    max-width: 50rem;
    margin: 0 auto 3.75rem auto;
    text-align: center;
}
#hero{
    background-image: url('img_snow_wide.jpg');
    background-size: cover;
    padding-top: 5.625rem;
    color: #fff;
    min-height: 25rem;
}
a i{
    margin-left: 1rem;
}
.navbar-toggle{
    font-size: 2.5rem;
}
.navbar-toggle:focus{
    outline: none;
}

/* start utilities */
.top-margin-xs{
    margin-top: 1rem;
}
.top-margin-sm{
    margin-top: 2rem;
}
.top-margin-lg{
    margin-top: 3rem;
}
.text-dark{ color: #000;}
section{
    padding: 3rem 0;
}

/* end utilities */

/* start portafolio */
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 0.625rem 0;
    border-radius: .125rem;
}
.portafolio-details{
    position: absolute;
    bottom: 1.5625rem;
    left: 1.5625rem;
    z-index: 9000;
}
.portafolio-details a h2,
.portafolio-details a p{
    color: #fff;
}
.portafolio-details a h2{
    margin-bottom: 0;
}
a:hover{
    text-decoration: none;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.portafolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* end portafolio */

/* start aboout us */
.member-container{
    position: relative;
    margin: 0.625rem 0;
}
.member-details{
    position: absolute;
    color: #606060;
    bottom: 0;
    left: 1.25rem;
}
.member-details span{
    font-size: 1rem;
}
.member-details i{
    padding: 0 0.3125rem;
}
.member-details a i{
    font-size: 1.875rem;
    color: #606060;
}

/* end aboout us */






@media (max-width: 575.98px) {
    h1{
        font-size: 2rem;
        line-height: normal;
    }
}


@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }