body{
    font-family: 'Titillium Web', sans-serif;
}
.navbar{
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
    min-height: 100px;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: #000;
}
.logo-brand{
    min-width: 3rem;
    max-width: 5rem;
}
h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 5rem;
}
p{
    font-size: 1.25rem;
}
.content-center{
    max-width: 50rem;
    margin: 0 auto 3.75rem auto;
    text-align: center;
}
#hero{
    background-image: url('img_snow_wide.jpg');
    background-size: cover;
    padding-top: 5.625rem;
    color: #fff;
    min-height: 25rem;
}
a i{
    margin-left: 1rem;
}
.navbar-toggle{
    font-size: 2.5rem;
}
.navbar-toggle:focus{
    outline: none;
}

/* start utilities */
.top-margin-xs{
    margin-top: 1rem;
}
.top-margin-sm{
    margin-top: 2rem;
}
.top-margin-lg{
    margin-top: 3rem;
}
.text-dark{ color: #000;}
section{
    padding: 3rem 0;
}
.full-width{
    width: 100%;
}
h5{
    margin-bottom: 0;
}

/* end utilities */

/* start portafolio */
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 0.625rem 0;
    border-radius: .125rem;
}
.portafolio-details{
    position: absolute;
    bottom: 1.5625rem;
    left: 1.5625rem;
    z-index: 9000;
}
.portafolio-details a h2,
.portafolio-details a p{
    color: #fff;
}
.portafolio-details a h2{
    margin-bottom: 0;
}
a:hover{
    text-decoration: none;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.portafolio-container:hover img{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* end portafolio */

/* start aboout us */
.member-container{
    position: relative;
    margin: 0.625rem 0;
}
.member-details{
    position: absolute;
    color: #606060;
    bottom: 0;
    left: 1.25rem;
}
.member-details span{
    font-size: 1rem;
}
.member-details i{
    padding: 0 0.3125rem;
}
.member-details a i{
    font-size: 1.875rem;
    color: #606060;
}
/* end aboout us */

/* start pricing */
.pricing-container{
    margin: 1rem 0;
}
.pricing-container .plans{
    padding: 3.3rem 5rem;
}
.pricing-container .plan-light{
    background-color: #fff;
    border: .125rem solid #000;
}
.pricing-container .plan-dark{
    background-color: #000;
    border: .125rem solid #000;
    color: #fff;
}
.plans h2{
    font-size: 5rem;
    font-weight: 600;
}
.plans span{
    font-size: 1.375rem;
}
.plans ul{
    list-style-type: square;
}
/* end pricing */

/* start testimonial */
.carousel{
    min-height: 15rem;
    padding: 2.5rem;
    border-radius: 2px;
    text-align: center;
}
.carousel p{
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
}
.rating i{
    color: gold;
    font-size: 1.6rem;
}
.carousel-indicators li{
    background-color: #000;
    width: 1rem;
    height: 1rem;
    border-radius: 2px;
    margin: 0 8px;
}
.carousel-control-next,
.carousel-control-prev{
    color: #fff;
    opacity: 1;
    width: 5%;
}
.control-button{
    background-color: #000;
    opacity: 1;
    width: 3.1rem;
    height: 3.1rem;
    padding: 0.6rem;
    border: 1px solid #000;
    border-radius: 50px;
    font-size: 1.25rem;
}
.testimonial-user{
    max-width: 15rem;
    margin: 0 auto;
    text-align: left;
}
.testimonial-user h6{
    margin-bottom: 0;
}
.testimonial-user span{
    font-size: 1rem;
}
.testimonial-user img{
    border-radius: 3.125rem;
    max-width: 3.125rem;
    text-align: center;
}
/* end testimonial */



@media (max-width: 575.98px) {
    h1{
        font-size: 2rem;
        line-height: normal;
    }
}


@media (max-width: 767.98px) {  }


@media (max-width: 991.98px) {  }


@media (max-width: 1199.98px) {  }